EFCAO/Service References/DocumentManagement/DocumentManagement5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8081/DocumentManagement?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Anadefi" />
  <xs:import schemaLocation="http://localhost:8081/DocumentManagement?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="DocumentGetList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="modelName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lang" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DocumentGetListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Anadefi" minOccurs="0" name="DocumentGetListResult" nillable="true" type="q1:ArrayOfAdes.ModelDocument" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DocumentGetListForBalance">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="companyKey" type="xs:unsignedLong" />
        <xs:element minOccurs="0" name="balanceKey" type="xs:unsignedLong" />
        <xs:element minOccurs="0" name="modelName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lang" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DocumentGetListForBalanceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Anadefi" minOccurs="0" name="DocumentGetListForBalanceResult" nillable="true" type="q2:ArrayOfAdes.ModelDocument" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DocumentGetTemplate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="documentRef" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lang" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DocumentGetTemplateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DocumentGetTemplateResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DocumentGetParams">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="documentRef" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lang" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DocumentGetParamsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DocumentGetParamsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DocumentGetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="companyKey" type="xs:unsignedLong" />
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="balanceKeys" nillable="true" type="q3:ArrayOfunsignedLong" />
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="documentRefs" nillable="true" type="q4:ArrayOfstring" />
        <xs:element minOccurs="0" name="units" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="currency" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lang" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DocumentGetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DocumentGetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DocumentGetDocument">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="companyKey" type="xs:unsignedLong" />
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="balanceKeys" nillable="true" type="q5:ArrayOfunsignedLong" />
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="documentRefs" nillable="true" type="q6:ArrayOfstring" />
        <xs:element minOccurs="0" name="units" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="currency" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lang" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DocumentGetDocumentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DocumentGetDocumentResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>