EFCAO/Service References/DocumentManagement/DocumentManagement1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Anadefi" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Anadefi" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfAdes.ModelDocument">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Ades.ModelDocument" nillable="true" type="tns:Ades.ModelDocument" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAdes.ModelDocument" nillable="true" type="tns:ArrayOfAdes.ModelDocument" />
  <xs:complexType name="Ades.ModelDocument">
    <xs:sequence>
      <xs:element minOccurs="0" name="condition" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="file" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="isDefault" type="xs:int" />
      <xs:element minOccurs="0" name="label" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="model" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="section" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="weight" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Ades.ModelDocument" nillable="true" type="tns:Ades.ModelDocument" />
</xs:schema>