EFCAO/Service References/ParamsManagement/ParamsManagement2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Anadefi" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Anadefi" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfAdes.Reference">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Ades.Reference" nillable="true" type="tns:Ades.Reference" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAdes.Reference" nillable="true" type="tns:ArrayOfAdes.Reference" />
  <xs:complexType name="Ades.Reference">
    <xs:sequence>
      <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="label" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Ades.Reference" nillable="true" type="tns:Ades.Reference" />
  <xs:complexType name="ArrayOfAdes.Property">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Ades.Property" nillable="true" type="tns:Ades.Property" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAdes.Property" nillable="true" type="tns:ArrayOfAdes.Property" />
  <xs:complexType name="Ades.Property">
    <xs:sequence>
      <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Ades.Property" nillable="true" type="tns:Ades.Property" />
  <xs:complexType name="ArrayOfAdes.ModelLine">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Ades.ModelLine" nillable="true" type="tns:Ades.ModelLine" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAdes.ModelLine" nillable="true" type="tns:ArrayOfAdes.ModelLine" />
  <xs:complexType name="Ades.ModelLine">
    <xs:sequence>
      <xs:element minOccurs="0" name="attrs" type="xs:int" />
      <xs:element minOccurs="0" name="backColor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="breakType" type="xs:int" />
      <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="decimals" type="xs:int" />
      <xs:element minOccurs="0" name="format" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="justify" type="xs:int" />
      <xs:element minOccurs="0" name="label" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="line" type="xs:int" />
      <xs:element minOccurs="0" name="section" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="textColor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="visible" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Ades.ModelLine" nillable="true" type="tns:Ades.ModelLine" />
  <xs:complexType name="ArrayOfAdes.ModelDocument">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Ades.ModelDocument" nillable="true" type="tns:Ades.ModelDocument" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAdes.ModelDocument" nillable="true" type="tns:ArrayOfAdes.ModelDocument" />
  <xs:complexType name="Ades.ModelDocument">
    <xs:sequence>
      <xs:element minOccurs="0" name="condition" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="file" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="isDefault" type="xs:int" />
      <xs:element minOccurs="0" name="label" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="model" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="section" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="weight" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Ades.ModelDocument" nillable="true" type="tns:Ades.ModelDocument" />
</xs:schema>