EFCAO/Service References/ParamsManagement/ParamsManagement.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8081/ParamsManagement?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Anadefi" />
  <xs:import schemaLocation="http://localhost:8081/ParamsManagement?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="ModelGetNames">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lang" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModelGetNamesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Anadefi" minOccurs="0" name="ModelGetNamesResult" nillable="true" type="q1:ArrayOfAdes.Reference" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModelGetLinks">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ModelGetLinksResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Anadefi" minOccurs="0" name="ModelGetLinksResult" nillable="true" type="q2:ArrayOfAdes.Property" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModelGetMarkets">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ModelGetMarketsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Anadefi" minOccurs="0" name="ModelGetMarketsResult" nillable="true" type="q3:ArrayOfAdes.Property" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModelGetSections">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="modelName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lang" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModelGetSectionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Anadefi" minOccurs="0" name="ModelGetSectionsResult" nillable="true" type="q4:ArrayOfAdes.Reference" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModelGetTemplate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="modelName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lang" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModelGetTemplateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Anadefi" minOccurs="0" name="ModelGetTemplateResult" nillable="true" type="q5:ArrayOfAdes.ModelLine" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModelGetDocumentList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="modelName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lang" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModelGetDocumentListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Anadefi" minOccurs="0" name="ModelGetDocumentListResult" nillable="true" type="q6:ArrayOfAdes.ModelDocument" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ParamGetNames">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="paramName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lang" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ParamGetNamesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Anadefi" minOccurs="0" name="ParamGetNamesResult" nillable="true" type="q7:ArrayOfAdes.Reference" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ParamGetPolicy">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ParamGetPolicyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ParamGetPolicyResult" nillable="true" type="q8:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>