EFCAO/Service References/BalanceManagement/BalanceManagement3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Anadefi" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Anadefi" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfAdes.BalanceSummary">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Ades.BalanceSummary" nillable="true" type="tns:Ades.BalanceSummary" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAdes.BalanceSummary" nillable="true" type="tns:ArrayOfAdes.BalanceSummary" />
  <xs:complexType name="Ades.BalanceSummary">
    <xs:sequence>
      <xs:element minOccurs="0" name="created" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="currency" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="date" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="duration" type="xs:unsignedShort" />
      <xs:element minOccurs="0" name="key" type="xs:unsignedLong" />
      <xs:element minOccurs="0" name="label" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="lockType" type="xs:unsignedShort" />
      <xs:element minOccurs="0" name="model" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="type" type="xs:unsignedShort" />
      <xs:element minOccurs="0" name="units" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="updated" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Ades.BalanceSummary" nillable="true" type="tns:Ades.BalanceSummary" />
  <xs:complexType name="ArrayOfAdes.Property">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Ades.Property" nillable="true" type="tns:Ades.Property" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAdes.Property" nillable="true" type="tns:ArrayOfAdes.Property" />
  <xs:complexType name="Ades.Property">
    <xs:sequence>
      <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Ades.Property" nillable="true" type="tns:Ades.Property" />
</xs:schema>